[submodule "parroton-core"]
	path = parroton-core
	url = https://github.com/madfish-solutions/parroton-core
[submodule "parroton-bot"]
	path = parroton-bot
	url = https://github.com/madfish-solutions/parroton-bot
[submodule "parroton"]
	path = parroton
	url = https://github.com/madfish-solutions/parroton
